services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: ms5user
      POSTGRES_PASSWORD: ms5password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  trainer:
    build: ./modeltrainer
    env_file:
      - ./modeltrainer/.env
    volumes:
      - model_data:/app/models

  app:
    build: ./app
    depends_on:
      db:
        condition: service_healthy
      trainer:
        condition: service_completed_successfully
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ms5user
      DB_PASSWORD: ms5password
      DB_NAME: db_milestone5
    ports:
      - 5000:5000  
    volumes:
      - model_data:/app/models:ro

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin


volumes:
  db_data:
  model_data:
  pgadmin_data: